<div class="discover-container">
    <div class="discover-title">Discover</div>
    <input type="text" placeholder="Search">
    <div class="collection-filter-grid">
        <div id="all-button" class="collection-filter all active" (click)="getAllNfts()">All</div>
        <div id="my-nfts-button" class="collection-filter my-nfts" (click)="getMyNfts()">My NFTs</div>
    </div>
</div>

<div class="gallery-container">
    <div class="gallery-grid" *ngFor="let nft of allNfts">

        <div class="gallery-grid-item">
            <img [src]="nft.metadata.image" class="nft-image">
            <p class="nft-name">{{nft.metadata.name}}</p>
            <div class="nft-value-grid ">
                <p class="nft-value-label" *ngIf="!myNfts">Purchase Value:</p>
                <p class="nft-value-label" *ngIf="myNfts">Value:</p>
                <p class="nft-value">{{nft.price}}</p>
            </div>
            <button class="buy-button" *ngIf="!myNfts" (click)="transfer(nft)">Buy</button>
        </div>
    </div>
</div>