<div class="manifest-container">
    <img src="../../assets/Logo.png" class="darto-logo">
    <div class="manifest-title">Welcome to darto</div>
</div>
<div class="data-container">
    <input type="email" placeholder="Email" [(ngModel)]="email">
    <input type="password" class="password-input" placeholder="Password" [(ngModel)]="password">
    <a href="" class="forgot-password">Forgot Password</a>
</div>
<div class="sign-in-container">
    <button class="login-button">Login</button>
    <p class="sign-in-alt-message">Don't you have an account?</p>
    <a class="sign-up">Sign Up</a>
</div>
