<div class="manifest-container">
    <img src="../../assets/Logo.png" class="darto-logo">
    <div class="manifest-title">Welcome to darto</div>
</div>
<div class="data-container">
    <input type="text" placeholder="Name">
    <input type="text" placeholder="Surname">
    <input type="email" placeholder="Email">
    <input type="text" placeholder="Username">
    <input type="password" class="password-input" placeholder="Password">
</div>
<div class="sign-in-container">
    <button class="sign-up-button">Sign Up</button>
    <p class="sign-in-alt-message">Already have an account?</p>
    <a class="login">Login</a>
</div>
