.manifest-container {
    padding-left: 121px;
    width: 327px;
    padding-top: 121px;
}

.darto-logo {
    width: 97px;
    padding-left: calc(50% - 47.5px);
}

.manifest-title {
    height: 104px;
    padding-left: 12px;
    padding-top: 24px;
    font-size: 36px;
    line-height: 52px;
    color: white;
}

.data-container {
    padding-left: 121px;
    width: 327px;
}

.password-input {
    margin-bottom: 24px;
}

input {
    margin-top: 12px;
    height: 56px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.5);
    padding-left: 24px;
    width: calc(100% - 24px);
}

input::placeholder {
    padding-left: -12px;
}

.sign-in-container {
    padding-left: 121px;
    width: 327px;
    height: 136px;
}

.sign-up-button {
    margin-bottom: 24px;
    height: 56px;
    width: 100%;
    border: 0px;
    border-radius: 8px;
    background-color:#98DED9;
    color: #1F2B42;;
}

.sign-in-alt-message {
    text-align: center;
    margin-bottom: 12px;
    height: 24px;
    font-size: 12px;
    color: #CED4DE;
}

.login {
    color: #98DED9;
    text-align: center;
    margin-left: 16px;
    font-size: 14px;
    padding-left: calc(50% - 45px);
}

@media (max-width: 600px) {
    .manifest-container {
        padding-left: 48px !important;
    }
    .data-container {
        padding-left: 48px !important;
    }
    .sign-in-container {
        padding-left: 48px !important;
    }
  }