@import "https://fonts.googleapis.com/css?family=DM Sans";

body {
    font-family: "DM Sans";
    background-color: #1F2B42;
}

a {
    text-decoration: none; 
}

input,select {
    margin-top: 12px;
    height: 56px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.5);
    padding-left: 24px;
    width: calc(100% - 24px);
}

select {
    width: 100%;
}

input::placeholder,select::placeholder {
    padding-left: -12px;
}
